*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}




body{
    background-image: url(./Img/js.png);
    background-size: contain;
    font-family: 'Fira Sans', sans-serif;

    
}


nav ul li{
    list-style: none;
    margin-inline: 100px;
    padding: 25px;
    float: left;
    
}

nav ul li a{
    text-decoration: none;
    color: #FA7027;
    font-weight: bold;

}

nav ul li a:hover{
    text-decoration: underline #FFE365;
}

h2{
    color: #EC0000;
    font-family: 'Merriweather', serif;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: 30px;
}

p{
    color: #26A947;
    font-family: 'Merriweather', serif;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: xx-large;
    
}

